
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #4d4373;
        }
        .logo {
            height: 85px;
        }
        .slogan {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        .nav-bar {
            background-color: #3c345a;
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }
        .nav-bar a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            transition: 0.3s;
        }
        .nav-bar a:hover {
            background-color: #5a4e88;
            border-radius: 5px;
        }
        .nav-bar a.active {
            background-color: #72d681;
            color: white;
            border-radius: 5px;
        }
        .content {
            display: flex;
            align-items: center;
            padding: 15px;
            flex-grow: 1;
        }
        .about {
            width: 50%;
            font-size: 18px;
            color: #333;
        }
        .clinic-image {
            width: 50%;
        }
        .footer {
            background-color: #4d4373;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
            color: white;
            margin-top: auto;
            width: 100%;
        }
        .user-info {
            display: flex;
            align-items: center;
            color: white;
        }
        .user-info span {
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
        }
        .logout-button {
            background-color: #72d681;
            color: white;
            border: none;
            padding: 8px 12px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s;
        }
        .logout-button:hover {
            background-color: #cc0000;
        }